doctype html
html(ng-app="myApp")
  head
    title Angular Tutorial
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/libs/bootswatch-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/angular-bootstrap/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    // Libraries
    script(src='/libs/angular/angular.js')
    script(src='/libs/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/libs/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/libs/angular-messages/angular-messages.min.js')
    script(src='/libs/jquery/dist/jquery.min.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
    
    // Services
    script(src='/app/services/homeService.js')
    
    // Controllers, etc...
    script(src='/app/main.js')
    script(src='/app/controllers/homePageController.js')
    script(src='/app/controllers/lobbyPageController.js')

    div(ui-view)
